_site
.sass-cache
.jekyll-metadata
.DS_Store
*.aux
*.synctex.gz
*.log
*.out
*.dvi
*.fls
*.fdb_latexmk
*.bbl
*.blg
.~lock*
*~
*.class
.DS_Store
_cache
_site

*.hi
*.o

Gemfile.lock

.stack-work
stack.yaml.lock
.shake

.diagrams_cache
diagrams/
dist-newstyle/

22G/
nand2tetris/

TAGS