function Character.new 0
push constant 4
call Memory.alloc 1
pop pointer 0
push constant 200
pop this 0
push constant 200
pop this 1
push constant 0
pop this 2
push constant 0
pop this 3
push pointer 0
return
function Character.update 0
push argument 0
pop pointer 0
push pointer 0
call Character.erase 1
pop temp 0
push this 3
push constant 1
sub
pop this 3
push this 0
push this 2
add
pop this 0
push this 1
push this 3
add
pop this 1
push this 1
push constant 0
lt
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push constant 0
pop this 1
label IF_FALSE0
push this 1
push constant 200
gt
if-goto IF_TRUE1
goto IF_FALSE1
label IF_TRUE1
push constant 200
pop this 1
label IF_FALSE1
push constant 0
return
function Character.dispose 0
push argument 0
pop pointer 0
push pointer 0
call Memory.deAlloc 1
pop temp 0
push constant 0
return
function Character.jump 0
push argument 0
pop pointer 0
push constant 10
pop this 3
push constant 0
return
function Character.draw 1
push argument 0
pop pointer 0
push constant 255
push this 1
sub
push constant 32
call Math.multiply 2
push this 0
push constant 16
call Math.divide 2
add
pop local 0
push pointer 0
push local 0
call Character.drawRaw 2
pop temp 0
push constant 0
return
function Character.erase 1
push argument 0
pop pointer 0
push constant 255
push this 1
sub
push constant 32
call Math.multiply 2
push this 0
push constant 16
call Math.divide 2
add
pop local 0
push pointer 0
push local 0
call Character.eraseRaw 2
pop temp 0
push constant 0
return
function Character.drawRaw 1
push argument 0
pop pointer 0
push constant 16384
push argument 1
add
pop local 0
push local 0
push constant 0
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 32
add
push constant 896
call Memory.poke 2
pop temp 0
push local 0
push constant 64
add
push constant 1088
call Memory.poke 2
pop temp 0
push local 0
push constant 96
add
push constant 5184
call Memory.poke 2
pop temp 0
push local 0
push constant 128
add
push constant 4736
call Memory.poke 2
pop temp 0
push local 0
push constant 160
add
push constant 4352
call Memory.poke 2
pop temp 0
push local 0
push constant 192
add
push constant 15232
call Memory.poke 2
pop temp 0
push local 0
push constant 224
add
push constant 5440
call Memory.poke 2
pop temp 0
push local 0
push constant 256
add
push constant 6432
call Memory.poke 2
pop temp 0
push local 0
push constant 288
add
push constant 256
call Memory.poke 2
pop temp 0
push local 0
push constant 320
add
push constant 640
call Memory.poke 2
pop temp 0
push local 0
push constant 352
add
push constant 1088
call Memory.poke 2
pop temp 0
push local 0
push constant 384
add
push constant 2080
call Memory.poke 2
pop temp 0
push local 0
push constant 416
add
push constant 4112
call Memory.poke 2
pop temp 0
push local 0
push constant 448
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 480
add
push constant 0
call Memory.poke 2
pop temp 0
push constant 0
return
function Character.eraseRaw 1
push argument 0
pop pointer 0
push constant 16384
push argument 1
add
pop local 0
push local 0
push constant 0
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 32
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 64
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 96
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 128
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 160
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 192
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 224
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 256
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 288
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 320
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 352
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 384
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 416
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 448
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 480
add
push constant 0
call Memory.poke 2
pop temp 0
push constant 0
return
